{% extends '::base.html.twig' %}

{% form_theme form _self %}

{% block form_row %}
{% spaceless %}
<div class="row show-grid">
  <div class="col-md-4">
  {{ form_errors(form) }}
  {{ form_widget(form) }}
  </div>
{% endspaceless %}
{% endblock form_row %}

{% block button_row %}
{% spaceless %}
   {{ form_widget(form) }}
{% endspaceless %}
{% endblock button_row %}

{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    {% if name starts with 'delete-' %}
      <div class="row show-grid">
    {% endif %}
        <div class="col-md-4">
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
        </div>
    </div>
{% endspaceless %}
{% endblock button_widget %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Main page of Control application</h1>

      <p class="lead">This page allow to deploy / delete branches of your current project.</p>
      {{ form_start(form) }}
      {{ form_errors(form) }}
        {% for child in form.children %}
          {{ form_row(child) }}
        {% endfor %}
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}
